.container {
  display: flex;
}

.aside-menu {
  margin-top: 3rem;
  padding: 1.6rem;
  min-width: 20rem;
  position: sticky;
  top: 20rem;
}

.menu-list {
  list-style-type: none;
  & li {
    padding: 0.8rem;
  }

  & a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #383737dc;
  }
  & a:hover {
    color: #242121dc;
    border-bottom: 1px solid #383737dc;
  }
}

.main {
  flex-grow: 1;
}
.footer {
  border-top: 1px solid grey;
  padding: 3rem 5rem 0rem;
  margin: 2rem 1rem 1rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  & h3 {
    font-size: 2.2rem;
  }
}

.contact-socials {
  p {
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: #666666;
    }
  }
}
.contact-socials-list {
  display: flex;
  margin-left: 0;
  margin-bottom: 2rem;
  list-style-type: none;
  a {
    background-color: #1d014b;
    display: inline-block;
    padding: 0.55rem 0.6rem 0.3rem;
    margin: 0.4rem;
    border-radius: 50%;
    font-size: 1.6rem;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s;
  }
  a:hover {
    font-size: 1.4rem;
  }
}
.contact-form-container {
  & p {
    font-size: 1.2rem;
  }
}
.contactForm {
  & div {
    display: inline-block;
    margin-top: 0.8rem;
  }

  & input {
    padding: 0.74rem 0.9rem;
    outline: none;
    font-size: 1.1rem;
    &::placeholder {
      font-size: 1rem;
    }
  }
  & button {
    padding: 0.8rem;
    background-color: #1d014b;
    border: 1px solid #1d014b;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1rem;
    transition: all 0.3s ease;
  }
  & button:hover {
    color: #1d014b;
    background-color: #ffffff;
  }

  & .success-text button {
    padding: 0.3rem;
    border-radius: 10%;
    font-size: 8px;
  }
}
.back-to-top {
  position: absolute;
  right: 20px;
  background-color: #1d014b;
  padding: 0.8rem 1.2rem;
  border-radius: 50%;
  opacity: 0.75;
  & a {
    color: #ffffff;
    font-size: 1.2rem;
  }
}
.copyright {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  & p {
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
  }
  a: {
    color: #e7e7e7;
  }
}
.logo img {
  height: 60px;
}
@media only screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .aside-menu {
    display: none;
  }
  .footer {
    padding: 2rem 1rem 2rem;
  }
  .contact {
    flex-direction: column;
    & h3 {
      font-size: 2.1rem;
    }
  }
  .contact-socials {
    flex-direction: column;
  }
  .copyright {
    flex-direction: column;
    p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 348px) {
  .contact {
    & h3 {
      font-size: 2rem;
    }
  }
}
