
    .sidebar {
        height: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(176,176,176,1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(176,176,176,1);
        box-shadow: 0px 2px 5px 0px rgba(176,176,176,1);
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        max-width: 350px;
        z-index: 300;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        
      }
  
      .sidebar.open {
        transform: translateX(0);
  
      }
  
      .sidebar__header {
        width: 100%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sidebar__icon {
      padding: 15px;
      float: right;
    }
    .sidebar__icon:active {
      transform: rotateX('30deg');
    }
      .sidebar__body {
      margin-top: 50px;
      padding: 0 20px 20px 20px;
      padding-bottom: 150px;
      }
  
      .sidebar ul {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
  
      }
  
      .sidebar ul li {
        display: block;
      position: relative;
      float: left;
      width: 100%;
      
    }
  
    .sidebar ul li a {
      padding: 10px 0px;
      display: block;
      font-size: 20px;
      position: relative;
      color: #212529;
    }
    .sidebar ul li a:hover, .sidebar ul li a:active {
      color: #709BE6;
    }
  